.flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.flex div {
    display: none;
}

@media (max-width: 480px) {
    /* .stable {
        display: none;
    }
    .ltable {
        display: none;
    }
    .pc {
        display: none;
    } */
    .mobile {
        display: inherit;
        /* flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh; */
    }
    html {
        background-color: aqua;
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    /* .mobile {
        display: none;
    }
    .ltable {
        display: none;
    }
    .pc {
        display: none;
    } */
    .stable {
        display: inherit;
        /* flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh; */
    }
    html {
        background-color: blue;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    /* .mobile {
        display: none;
    }
    .stable {
        display: none;
    }
    .pc {
        display: none;
    } */
    .ltable {
        display: inherit;
        /* flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh; */
    }
    html {
        background-color: violet;
    }
}

@media (min-width: 1024px){
    /* .mobile {
        display: none;
    }
    .ltable {
        display: none;
    }
    .stable {
        display: none;
    } */
    .pc {
        display: inherit;
        /* flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh; */
    }
    html {
        background-color: pink;
    }
}