/* 스크롤이 내려갔을 때 header를 상단에 고정시키는 proterty value */
header.top {
    position: sticky;
    display: flex;
    z-index: 2;
    top: 0px;
    height: 72px;
    justify-content: space-between;
    align-items: center;
    background-color: darkviolet;
    border-top: 2px solid rgb(98, 2, 139);
}

.header__homelink {
    display: inline-block;
    padding: 0 24px;
    height: 72px;
    line-height: 72px;
    cursor: pointer;
    text-decoration: none;
}

/* link 걸었을 때, 텍스트 밑에 밑줄 생기는건 a태그 때문에 생기는거라
a태그에 dercoration:none을 달아줘야 없어진다. */

.header__logo {
    height: 48px;
    vertical-align: center;
    margin-bottom: 4px;
    color: white;
}

.header__nav_item {
    font-size: 20px;
    /* color: white; */
}

.header__nav_item a {
    display: inline-block;
    height: 72px;
    line-height: 72px;
    color: white;
    padding: 0 0.8em;
    text-decoration: none;
    font-weight: bold;
}

@media (max-width: 768px) {
    
    .header__nav {
        display: none;
    }

    .header__menu__btn {
        /* 브라우저 기본 세팅을 없앰 */
        all: unset;
        display: block;
        width: 72px;    
        height: 72px;
        background-image: url("/images/menu-button.svg");
        background-size: 50%;
        /* 없으면 메뉴 모양 복붙으로 빈공간 채움 */
        background-repeat: no-repeat;
        background-position: center;
    }

    .header__menu__btn:checked {
        background-color: darkolivegreen;
    }

    .header__menu__btn:checked + .header__nav {
        display: inherit;
        position: absolute;
        top: 72px;
        right: 0;
        background-color: darkolivegreen;
        padding-bottom: 1em;
        box-shadow: 0 2px 2px rgba(255, 255, 255, 0.06);
    }

    .header__nav_item {
        width: 100vw;
        text-align: center;
    }

    .header__nav_item a {
        width: 100vw;
    }

    .header__nav_item:not(:last-child) {
        border-bottom: 2px solid rgba(255, 255, 255, 0.06);
    }

    .intro__type {
        padding: 0;
        font-size: 49px;
    }

}

@media (min-width: 769px) {
    
    .header__nav_item {
        display: inline-block;
        position: relative;
    }
    
    .header__nav_item:last-child {
        margin-right: 1.6em;
    }

    .header__menu__btn {
        display: none;
    }

    .header__nav_item::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 0;
        background-color: white;
        /* 에니메이션 구현되는 시간? */
        transition: all 350ms;
    }

    .header__nav_item:hover::after {
        left: 0;
        width: 100%;
        height: 8px;
    }

}